{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>
<body>
<div class="Form">
    <h4>Form</h4>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter your name"><br>
    <input type="date" name="dob" placeholder="Enter your DOB"><br>
    <input type="text" name="age" placeholder="Enter age"><br>
    <label for="gender"> Select you gender</label>
<select id="gender">
	<option value="" >--- Selected Gender ---</option>
	<option value="male">Male</option>
	<option value="female">Female</option>
	<option value="other">other</option>
</select>
    <br>
    <input type="text" name="phno" placeholder="Enter your phone number"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="text" name="address" placeholder="Enter your address"><br>
    <label> Department</label>
<select name="department">
    <option value="">-- Selected Department</option>
	<option value="1" >Computer Science</option>
	<option value="2">Commerce</option>
	<option value="3">Science</option>
	<option value="4">Humanities</option>

</select>
    <br>
    <input type="text" name="course" placeholder="Enter your course"><br>
    <button type="submit">submit</button>
    <button type="logout"><a href="{% url 'logout' %}">logout</button>


</form>
    </div>
</body>
</html>
